bject files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
devpkg

# Temp files created by text editors like emacs, vim etc.
*~


notes.txt
